.abas{
    margin-left: 2.5rem;
    margin-top: 1rem;
    margin-bottom: -1rem;
    display: flex;
    gap: 1rem;
}

.containerPadrao{
    padding: 1rem;
    font-weight: 300;
    box-shadow: 0px 0px 7px 0px #00000029;
    max-height: auto;
    position: relative;
    border-radius: 14px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.containerTitle{
    text-align: center;
    color: #5A58A8;
    margin-top: 1.5rem;
}

.buttonAba{
    color: #f4f4f4;
    border: unset;
    padding: 0.5rem;
    border-radius: 5px 5px 0 0;
    font-size: 90%;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem
}


.titleReserva{
    border-bottom: 2px solid #5A58A8;
    color: #5A58A8;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    gap: 0.5rem;    
    font-weight: 600;
}

.divCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin: 1rem;
    margin-bottom: 2rem;
}


.cardItens{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    box-shadow: 0px 0px 7px 0px #00000029;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
    height: fit-content;
    color: #343256;

}

.cardItens:hover{
    box-shadow: 0px 0px 7px 0px #00000063;
}

.cardItens img{
    width: 4rem;
    height: 4rem;
}

.cardSelected{
    border: 1px solid #10CE5C;
    background: #C2FFDA;
}

.infoItem{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 100%;
}

.divRooms{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;
    color: #343256;
    font-weight: 400;
}



.horarioForms{
    display: grid;
    grid-template-columns: 1fr 7fr;
    gap: 1rem;
    margin: 1rem;
    align-items: center;
}

.horarioForms2{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    gap: 1rem;
    margin: 1rem;
    align-items: center;
}

.cardTimeReserve{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    font-weight: 400;
    color: #343256;
}

.cardTimeReserveSelect{
    border: 1px solid #10CE5C;
    background: #C2FFDA;
}

.allCardsReserve{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 0.5rem;
    margin: 1rem;
}

.allCardsReserve2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5rem;
}

