.containerPadrao{
    padding: 1rem;
    font-weight: 300;
    box-shadow: 0px 0px 7px 0px #00000029;
    max-height: auto;
    position: relative;
    border-radius: 14px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.containerTitle{
    text-align: center;
    color: #5A58A8;
    margin-top: 1.5rem;
}

.container{
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.mainVacinas{
    padding: 1rem;
    box-shadow: 0px 0px 7px 0px #00000029;
    max-height: auto;
    border-radius: 14px;
}

.mainVacinas p{
    color: #343256;
    font-weight: 500;
    padding-left: 0.2rem;
}
.mainVacinas h3{
    color: #343256;
    text-align: center;
}

.notApplicated{
    background: #C8C8C8;
    border-radius: 5px;
}

.applicated{
    background: #10CE5C;
    border-radius: 5px;
}